<?xml version="1.0"?>
<!--
/**
 *
 *
 * @category   Mygento
 * @package    Mygento_Metrika
 * @copyright  Copyright © 2015 NKS (http://www.mygento.ru)
 * @contacts   connect@mygento.ru
 *
 */
-->
<config>
    <modules>
        <Mygento_Metrika>
            <version>1.2.0</version>
        </Mygento_Metrika>
    </modules>
    <default>
        <metrika>
            <general>
                <enabled>0</enabled>
                <debug>0</debug>
            </general>
            <metrika>
                <enabled>0</enabled>
                <webvisor>1</webvisor>
                <clickmap>1</clickmap>
                <tracklinks>1</tracklinks>
                <trackhash>0</trackhash>
                <accuratetrackbounce>0</accuratetrackbounce>
                <ecommerce>1</ecommerce>
            </metrika>
        </metrika>
    </default>
    <global>
        <models>
            <metrika>
                <class>Mygento_Metrika_Model</class>
            </metrika>
        </models>
        <blocks>
            <metrika>
                <class>Mygento_Metrika_Block</class>
            </metrika>
        </blocks>
        <helpers>
            <metrika>
                <class>Mygento_Metrika_Helper</class>
            </metrika>
        </helpers>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <metrika>
                                            <title>Mygento Metrika</title>
                                        </metrika>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <metrika>
                    <files>
                        <default>Mygento_Metrika.csv</default>
                    </files>
                </metrika>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <metrika>
                    <file>mygento/metrika.xml</file>
                </metrika>
            </updates>
        </layout>
        <translate>
            <modules>
                <metrika>
                    <files>
                        <default>Mygento_Metrika.csv</default>
                    </files>
                </metrika>
            </modules>
        </translate>
    </frontend>
    <phpunit>
        <suite>
            <modules>
                <Mygento_Metrika/>
            </modules>
        </suite>
    </phpunit>
</config>
